{% extends 'base.html' %}
{% block content %}

<h2>{{ page_title }}</h2>
<p> Street art is a form of artwork that is displayed in public on surrounding buildings, on streets, trains, and on
	other publicly viewed surfaces. Many instances come in the form of guerrilla art, which is intended to make a
	personal statement about the society that the artist lives within. The work has moved from the beginnings of
	graffiti and vandalism to new modes where artists work to bring messages, or just beauty, to an audience.</p>


{% for member in company %}

<div class="row featurette">

{% if loop.index % 2 != 0 %}

<div class="col-md-7">
	<h3><a href="/about/{{ member.url }}"> {{ loop.index }}. {{ member.name }}</a></h3>
	<p>{{ member.description }}
	</p>
</div>

<div class="col-md-5">
		<img class="featurette-image img-fluid" src="{{ member.image_source }}">
    </div>

    {% else %}
    <div class="col-md-5">
		<img class="featurette-image img-fluid" src="{{ member.image_source }}">
    </div>
    <div class="col-md-7">
    <h3><a href="/about/{{ member.url }}"> {{ loop.index }}. {{ member.name }}</a></h3>
    <p>{{ member.description }}
	</p>
</div>

    {% endif %}
	</div>

    {% if loop.index != 4 %}
<hr class="featurette-divider">
    {% endif %}

{% endfor %}
{% endblock %}